[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Jack Clarke
	email = jackojc@gmail.com
	signingKey = 28981540EECCCFE2
[color]
	ui = true
[credential]
	helper = store
[merge]
	tool = meld
	conflictstyle = diff3
[mergetool]
	prompt = false
[format]
	pretty = oneline
[pull]
	rebase = true
[gpg]
	program = gpg2
[commit]
	gpgsign = true
	verbose = true
[core]
	autocrlf = input
[log]
	abbrevCommit = true
